.node {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.node:not(:last-child),
.children .node {
  border-bottom: 1px solid white;
}

.children {
  margin-left: 25px;
  max-height: 0;
  opacity: 0;
  animation-fill-mode: forwards;
}

.children.open {
  animation-name: openAnimation;
  animation-duration: 0.5s;
}

.children.closing {
  animation-name: closeAnimation;
  animation-duration: 0.25s;
}

@keyframes openAnimation {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes closeAnimation {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
}

.cross {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(0deg);
}
